{% extends "base.html" %}

{# 'content' é o bloco principal para o conteúdo da sua página. #}
{# O que for definido aqui aparecerá no corpo principal da página, geralmente dentro de um <div class="container">. #}
{% block content %}
<div class="container">
    {# A classe 'page-header' do Bootstrap cria uma linha horizontal e um espaçamento, #}
    {# destacando o título da página. #}
    <div class="page-header">
        {# O cabeçalho principal da página, informando ao usuário o que aconteceu. #}
        <h1>Acesso Negado - 403</h1>
    </div>
</div>
{% endblock %}